# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cypress folders
cypress/videos/
cypress/screenshots/
cypress/reports/
allure-report/
allure-results/

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
dist/
build/
*.tsbuildinfo

# Editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Others
coverage/
